h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 70px;
  }

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
  }

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
  }

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  };

.christmasPresent {
    height: 150px;
    background:white;
    width: 150px;
    margin: 130px;
    border-radius: 50%;
    align-items: center;
  }

#game {
    height: 100%;
    width: 100%;
    background: url(https://i.imgur.com/Quq8Xmn.jpg);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.christmasPresents {
    display: flex;
  }
  
.christmasPresent {
    height: 150px;
    background:white;
    width: 125px;
    margin: 200px;
    border-radius: 50%;
    align-items: center;
  }
  
button {
    font-style: bold;
    padding: 150px 200px;
    border-radius: 25px;
    border-color: red;
  }

.button {
    margin: 0;
    background-color:#0a0a23;
    color: #fff;
    text-align: center;
    border-color: red blue purple green;
    border-width: auto;
}

.button:hover {
    background-color:green;
    transition: 0.7s;
    cursor: pointer;
}

  