h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 70px;
  }

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
  }

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
  }

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  };

  .christmasPresent {
    height: 100px;
    background:white;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
  }

  #game {
    height: 100%;
    width: 100%;
    background: green;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
  }
  
  .christmasPresents {
    display: flex;
  }
  
  .christmasPresent {
    height: 100px;
    background:white;
    width: 100px;
    margin: 50px;
    border-radius: 20px;
    align-items: center;
  }
  
  button {
    font-style: bold;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: green;
    display: flex;
  }

.button {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
}
.button:hover {
    background-color:green;
    transition: 0.7s;
    cursor: pointer;
}

  